 /* .section{
margin-left:30px;
margin-top:30px;
margin-bottom:30px;
}

.align-right {
    float:right;
     margin-left:70%; 
     margin-right:50%;
    text-align:center;
}

.product-image{
    float:right;
    margin-right:50px;
}   */


 .div.section {
     display: flex;
     justify-content: space-between;
     margin-left: 30px;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .details {
     flex: 1;
     margin-left: 30px;
 }

 .product-image {
     flex: 0 0 auto;
     margin-left: auto;
     margin-right: 100px;
 }